@tailwind base;
@tailwind components;
@tailwind utilities;
#timetop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: AliceBlue;
}

#leftjustify {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

button {
  margin-left: 10px;
  margin-right: 10px;
}

#calcarea {
  flex-direction: column;
  background: AliceBlue;
}

.calcnum {
  color: blue;
  font-size: xx-large;
}

.fence {
  width: 3em;
}

.value_and_fences {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.limit {
  display: flex;
  flex-direction: row;
}

.limit label {
  width: 1em;
}

.alarmred {
  background: red;
}

#control-area {
  background: aliceblue;
  padding: 1em;
  margin-bottom: 1em;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#display {
  background-color: black;
}

#control-buttons-row {
  /*background-color:red;*/
}

.col-9 {
  /*background-color:violet;*/
  padding: 0;
}

.col-3 {
  /*background-color:blue;*/
  padding: 0;
}

#top-bar {
  /*background-color: hotpink;*/
  height: 60px;
}

.top-row {
  padding: 10px;
}

#alarm-tab {
  text-align: center;
  /*background-color: red;*/
}
#top-left {
  text-align: left;
  /*background-color:salmon;*/
}
#top-right {
  text-align: right;
  /*background-color:slateblue;*/
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1;
  left: 0;
  top: 0;
  width: 30%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(85, 47, 47, 0.4); /* Black w/ opacity */
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #011311;
  margin: 2% auto; /* 15% from the top and centered */
  padding: 1px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 90%;
}
.inputBlockContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #011311;
  margin: 2% auto; /* 15% from the top and centered */
  padding: 2px;

  width: 80%; /* Could be more or less, depending on screen size */
  height: 80%;
}
.inputBlock {
  display: flex;
  flex-direction: column;
  background-color: #011311;
  justify-content: center;
  position: relative;
  padding: 2 2 0 0;
  width: 80%;
  height: 30%;
}

.inputLabel {
  font-size: 2em;
  color: black;
  margin: 0;
  padding: 0;
  line-height: 100%;
  color: greenyellow;
}
.inputElement {
  display: inline;
  justify-content: center;
  width: 50%;
  line-height: 100%;
  font-size: 2em;
  background-color: whitesmoke;
}

/* Modal Content/Box */
.modal-content {
}
.headingInfo {
  color: cornflowerblue;
}
.PFGraph {
  background-color: black;
}
/* The Close Button */
.close {
  text-align: right;
  color: rgb(38, 107, 124);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(242, 247, 243);
  text-decoration: none;

  cursor: pointer;
}
.btn btn-danger {
  background-color: #2196f3;
}
